{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test Page</h1>
    <h2>Server settings</h2>
    <table style="border-collapse:collapse;">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>tried to set</th>
            <th>current setting</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Environment</td>
            <td>{{ triedToSet.env }}</td>
            <td>{{ currentSetting.env }}</td>
        </tr>
        <tr>
            <td>Debug</td>
            <td>{{ triedToSet.debug }}</td>
            <td>{{ currentSetting.debug }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}