{% extends 'base.html.twig' %}
{% block title %}tech showcase{% endblock %}
{% block body %}
    <h2>MySql connection</h2>
    <table>
        <tbody>
        {% for infoRow in mysqlVersionInfo %}
            <tr>
                <td>{{ infoRow.Variable_name }}</td>
                <td>{{ infoRow.Value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>PgSql connection</h2>
    <p>{{ pgsqlVersionInfo }}</p>
{% endblock %}